.comment
  .avatar
    .circular.mini.image= image_tag gravatar_image_url(message.user.email, size: "60px")
  .content
    .author
      = message.user.username
      .metadata
        .date
          = time_ago_in_words(message.created_at)
    .text
      = message.body

.ui.divider