.ui.inverted.vertical.footer.segment{ style: "height: 200px;"}
  .ui.container
    .ui.stackable.padded.inverted.divided.stackable.grid
      .six.wide.column
        .ui.inverted.link
          © #{Date.today.year} Concurrently by Principle Design, LLC
      .six.wide.column
        .ui.inverted.header
          Links
        .ui.inverted.link.list
          .item= link_to "Terms", terms_path
          .item= link_to "Privacy", privacy_path
