- flash.each do |msg_type, message|
  %div{:class => "ui message fluid #{flash_class_for(msg_type)}"}
    #close-button.left.floated.icon.button{"data-dismiss" => "alert"}
      %i.ui.close.icon
    = message

:javascript
  $(document).ready(function(){
    $('#close-button').on('click', function() {
      $(this).closest('.message').transition('fade');
    });
  });
