// $navbar-default-bg: #312312;
// $light-orange: #ff8c00;
// $navbar-default-color: $light-orange;

@import "font-awesome-sprockets";
@import "font-awesome";
@import "sticky-footer";
@import "announcements";
@import "semantic-ui";

.ui.vertical.attached.menu {
  margin-top: 13px !important;
  height: 110vh;
  padding-left: 1em;
}

.ui.comments {
  height: 90vh;
  overflow-y: scroll !important;
}

.column {
  padding: 0 !important;
}

// Masquerade alert shouldn't have a bottom margin
body > .alert {
  margin-bottom: 0;
}
