// $navbar-default-bg: #312312;
// $light-orange: #ff8c00;
// $navbar-default-color: $light-orange;

@import "font-awesome-sprockets";
@import "font-awesome";
@import "sticky-footer";
@import "announcements";
@import "semantic-ui";

.ui.vertical.attached.menu {
  margin-top: -1px !important;
  height: 90vh;
}

// Masquerade alert shouldn't have a bottom margin
body > .alert {
  margin-bottom: 0;
}
