// $navbar-default-bg: #312312;
// $light-orange: #ff8c00;
// $navbar-default-color: $light-orange;

@import "font-awesome-sprockets";
@import "font-awesome";
@import "sticky-footer";
@import "announcements";
@import "semantic-ui";

.ui.comments {
  height: 550px;
  overflow-y: scroll !important;

  .comments-shadow {
    position: absolute;
    height: 50px;
    width: 95%;
    background: linear-gradient(rgba(255, 255, 255, 1), rgba(255, 255, 255, 0));
    z-index: 100;
    border-top: 1px solid #D4D4D5;
  }
}

// Masquerade alert shouldn't have a bottom margin
body > .alert {
  margin-bottom: 0;
}
